feh --bg-center /home/vivax/wallpapers/pexels-jot-singh-2179483.jpg

setxkbmap -option caps:escape

xmodmap -e "keycode 87 = F1"
xmodmap -e "keycode 88 = F2"
xmodmap -e "keycode 89 = F3"
xmodmap -e "keycode 83 = F4"
xmodmap -e "keycode 84 = F5"
xmodmap -e "keycode 85 = F6"
xmodmap -e "keycode 79 = F7"
xmodmap -e "keycode 80 = F8"
xmodmap -e "keycode 81 = F9"

xrandr --output DP-0 --auto --primary --output HDMI-0 --auto --right-of DP-0 --output DP-3 --auto --left-of DP-0
